.view-aed-sponsors {
  text-align: center;

  table,
  table tr,
  table tr td {
    background: none;
    margin: 0;
    padding: 0;
  }

  table tr td {
    padding: 10px;
  }

  .col-sm-3 {
    width: 25%;
  }

  .views-field-field-sponsor-logo {
    width: 100%;
    img {
      margin: 0 auto;
      border-radius: 6px;
    }
  }
}
