body.node-type-news {

  // Reseteamos algunas cosillas generales de la web.
  .l-content {
    > .l-container {
      padding-top: 0;
    }
  }

  #block-blockify-blockify-page-title {
    display: none;
  }

  ////////////////////
  .l-content {
    > .l-container {
      max-width: none;

      .node--news--full {

        &.no-img {

          .heading {
            background: #901235;
            position: relative;
            text-align: center;

            > .inner-content {
              height: 260px;
              position: relative;
              @extend .l-container;

              @include breakpoint($tab) {
                height: 400px;
              }

            }

            .field--name-title-field {
              position: absolute;
              width: 100%;
              bottom: 26px;
              color: white;

              h1 {
                font-size: 30px;
                font-weight: bold;
                line-height: normal;

                @include breakpoint($tab) {
                  font-size: 68px;
                  line-height: 56px;
                }

              }
            }
          }
        }

        .heading {
          position: relative;
          height: 260px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%;
          text-align: center;

          @include breakpoint($tab) {
            height: 260px;

            @include breakpoint($tab) {
              height: 400px;
            }
          }

          > .inner-content {
            position: relative;
            @extend .l-container;
            height: 260px;

            @include breakpoint($tab) {
              height: 400px;
            }

          }

          .field--name-title-field {
            position: absolute;
            width: 100%;
            bottom: 26px;
            color: white;

            h1 {
              font-size: 30px;
              font-weight: bold;
              line-height: normal;

              @include breakpoint($tab) {
                font-size: 68px;
                line-height: 56px;
              }

            }
          }
        }

        .node__content {
          padding: 10px;
          @include typo-styles;

          @include breakpoint($tab) {
            padding: 30px;
          }

        }
      }

    }
  }
}


