body.node-type-news {
  .l-content {
    > .l-container {
      max-width: none;

      .node--news--full {

        &.no-img {

          .heading {
            background: #901235;
            position: relative;
            text-align: center;

            > .inner-content {
              height: 400px;
              position: relative;
              @extend .l-container;
            }

            .field--name-title-field {
              position: absolute;
              width: 100%;
              bottom: 26px;
              color: white;

              h1 {
                font-size: 68px;
                font-weight: bold;
                line-height: 56px;
              }
            }
          }
        }

        .heading {
          position: relative;
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%;
          text-align: center;

          > .inner-content {
            position: relative;
            @extend .l-container;
            height: 400px;
          }

          .field--name-title-field {
            position: absolute;
            width: 100%;
            bottom: 26px;
            color: white;

            h1 {
              font-size: 68px;
              font-weight: bold;
              line-height: 56px;
            }
          }
        }

        .node__content {
          padding: 30px;

          h2, h3, h4, h5, h5, p, span {
            font-family: $base-font-family !important;
            white-space: normal !important;
          }

          h2 {
            font-size: 32px;
            font-weight: bold;
            color: #901235;
            line-height: normal;
            margin: 10px 0;
          }

          h3 {
            font-size: 26px;
            font-weight: bold;
            color: #901235;
            line-height: normal;
            margin: 10px 0;
          }

          span, p {
            line-height: 24px;
          }

          a {
            color: #5784AE;
          }

          ul {
            margin: 10px 30px;
            li {
              list-style: initial;
              margin-bottom: 10px;
            }
          }
        }
      }

    }
  }
}


