body.node-type-news {

  // Reseteamos algunas cosillas generales de la web.
  .l-content {
    > .l-container {
      padding-top: 0;
    }
  }

  #block-blockify-blockify-page-title {
    display: none;
  }

  ////////////////////
  .l-content {
    > .l-container {
      max-width: none;

      .node--news--full {

        &.no-img {

          .heading {
            background: #901235;
            position: relative;
            text-align: center;

            > .inner-content {
              height: 400px;
              position: relative;
              @extend .l-container;
            }

            .field--name-title-field {
              position: absolute;
              width: 100%;
              bottom: 26px;
              color: white;

              h1 {
                font-size: 68px;
                font-weight: bold;
                line-height: 56px;
              }
            }
          }
        }

        .heading {
          position: relative;
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%;
          text-align: center;

          > .inner-content {
            position: relative;
            @extend .l-container;
            height: 400px;
          }

          .field--name-title-field {
            position: absolute;
            width: 100%;
            bottom: 26px;
            color: white;

            h1 {
              font-size: 68px;
              font-weight: bold;
              line-height: 56px;
            }
          }
        }

        .node__content {
          padding: 30px;
          @include typo-styles;
        }
      }

    }
  }
}


