html body {
  color: #000;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: #F7F4EC;
}

a {

  &:hover,
  &:visited {

  }

}

h1, h2, h3, h4, h5, h6 {

}

h1 {
  font-size: 36px;
  line-height: 46px;
}

h2 {
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

strong, b {
  font-weight: bold;
}