// ------------------------------------------
// ------------------------------------------
// Colores
// ------------------------------------------
// ------------------------------------------
// Grises
$color-grey-a: #333;
$color-grey-b: #666;
$color-grey-c: #999;

// Azules
$color-blue-a: #20c3c4;
$color-blue-b: #15a4a5;

// Rojos
$color-red-a: #e22626;

// Verdes
$color-green-a: #4B8413;
$color-green-b: #3D690A;
$color-green-c: #739159;

// ------------------------------------------
// ------------------------------------------
// Breakpoints
// ------------------------------------------
// ------------------------------------------
$mob: 360px;
$tab: 720px;
$desk: 960px;

// ------------------------------------------
// ------------------------------------------
// Familias de fuentes y tamaños base.
// ------------------------------------------
// ------------------------------------------
// Fuentes locales.
@font-face {
  font-family: "Noto Serif";
  src: font-files("notoserif/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: "Noto Serif";
  src: font-files("notoserif/NotoSerif-Italic.ttf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "Noto Serif";
  src: font-files("notoserif/NotoSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Aller";
  src: font-files("aller/Aller_Rg.ttf");
}

@font-face {
  font-family: "Aller";
  src: font-files("aller/Aller_Rg.ttf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "Aller";
  src: font-files("aller/Aller_Rg.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}

// Google fonts
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// ------------------------------------------
// ------------------------------------------
// Familias de fuentes y tamaños base.
// ------------------------------------------
// ------------------------------------------
// Para fuentes web ir a _webfonts.scss
$font-aller: 'Allert', sans-serif;
$font-noto: 'Noto Serif', sans-serif;

$base-font-family: $font-noto;
$base-font-size: 16px;
$base-line-height: 1em;

// ------------------------------------------
// ------------------------------------------
// Susy global config.
// ------------------------------------------
// ------------------------------------------

  // Este class solo se tiene que utilizar dentro de una
  // region para restringir el ancho del contenido.
.l-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}