.l-footer {
  background: #32657E;
  margin-top: 40px;

  @include breakpoint($tab) {
    margin-top: 50px;
  }

  .l-container {
    position: relative;

    &:before {
      $img: 'drop-blue-119x153.png';
      content: '';
      position: absolute;
      top: -30px;
      background: image-url($img) no-repeat;
      width: 59px;
      height: 76px;
      background-size: cover;
      left: calc(50% - 30px);

      @include breakpoint($tab) {
        width: image-width($img);
        height: image-height($img);
        left: 0;
      }

    }
  }

}