#off-canvas {
  // Omega pone siempre el css del layout despues de nuestros estilos.
  //De momento pongo importants, cuando tenga tiempo hago un preprocess
  //para cambiarle los weight a los css
  background: #222E3B !important;

  .l-container {

    .off-canvas-toggler {
      top: 10px;

      span {
        background-size: contain;
        text-indent: -9999px;
      }

    }

    .navigation-wrapper {
    }
  }
}
