.call-to-action {
  background-color: $color-red-a;
  text-align: center;
  padding: 40px 10px 20px;

  @include breakpoint($desk) {
    padding: 70px 0 55px;
  }

  .block__title {
    color: white;
    font-size: 40px;
    font-family: $font-noto;
    font-weight: bold;
    margin-bottom: 25px;

    @include breakpoint($desk) {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .block__content {
    color: white;

    @include breakpoint($desk) {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      line-height: 1.3;
      margin-bottom: 35px;
    }

    a {
      color: white;
      font-family: $font-aller;
      background-color: $primary-color;
      border-radius: 3px;
      transition: all 250ms;
      display: inline-block;
      outline: none;
      text-decoration: none;
      padding: 15px 45px 12px;

      &:hover, &:focus {
        background-color: $color-blue-b;
      }

    }

  }

}
