// Forms
// -----------------------------------

// Estilos compartidos
.form-textarea-wrapper textarea,
.form-text {
  @include box-sizing(border-box);
  width: 100%;
  padding: 12px;
  border: 1px solid #222E3B;
  margin: 5px 0;
}

// Estilos compartidos
.form-file {
  @include box-sizing(border-box);
  padding: 6px;
  border: 1px solid #222E3B;
  margin: 5px 0;
  background: #fff;

  @include breakpoint($tab) {
    border-right: none;
  }

}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #222E3B;
  margin: 5px 0;
  background: white;
}

.form-submit {
  padding: 10px;
  background: #901235;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px 0;
}

textarea[disabled],
.form-text[disabled],
.form-file[disabled] {
  /**/
}

.form-file {
  vertical-align: top;
}

.form-item {
  margin: 0 0 1.5em;
}

input.form-autocomplete {
  /**/
}

label {
  /**/
}

.form-checkbox {
  position: relative;
  top: 3px;
}

fieldset {
  @include box-sizing(border-box);
  padding-top: 30px;
  position: relative;
  margin: 0;

  legend {
    position: absolute;
    top: 17px;
    font-weight: bold;
    left: 10px;
    background: white;
    padding: 5px;
    span {
    }

    a {
      color: black;
    }
  }

  .fieldset-wrapper {
    border: 1px solid;
    padding: 20px;
  }

}

.grippie {
  display: none;
}

.form-radios {
  margin-top: 10px;
}

.form-actions {
  margin: 50px 0 10px;
  text-align: center;

  @include breakpoint($tab) {
    margin-top: 0;
    text-align: left;
  }

  > * {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}