#home-video {

  .content {
    color: #fff;

    .inner {
      width: 50%;
    }

    .logo {
      max-width: 50%;
      width: 100%;
      display: block;
      margin: 0 auto 20px;
    }

    .text {

    }
  }

  video {
    width: 100%;
  }

}