.pager {
  margin: 20px;

  // Reset
  .pager__item {
    text-decoration: none;
    background: $primary-color;
    display: inline-block;
    color: white;
    transition: all 400ms;
    margin: 0 2px;
    cursor: pointer;

    &:hover {
      color: $primary-color;
      background: white;

      a {
        color: $primary-color;
      }
    }

  }

  .pager__item a {
    text-decoration: none;
    display: block;
    color: white;

  }

}