.tabs {
  @extend .l-container;
  border-bottom: none;
  padding-top: 45px;
  margin-bottom: 0;

  @include breakpoint($tab) {
    margin-top: 20px;
  }

  @include breakpoint($desk) {
    padding-top: 0;
  }

  li {
    float: none;
    margin-right: 0;

    @include breakpoint($tab) {
      float: left;
      margin-right: 1em;
    }

    &.active {

      a {
        color: #fff;
        background: #222E3B;
      }

    }

    a {
      color: #fff;
      font-family: arial, sans-serif;
      transition: all .3s;
      background: #5b6774;
      padding: 15px;

      @include breakpoint($tab) {
        padding: 12px 30px;
      }

    }

  }

}
