// Estilos para areas en las que por lo general se imprimen copntenidos generados ocn un ckeditor.
@mixin typo-styles() {
  h2, h3, h4, h5, h5, p, span {
    font-family: $base-font-family !important;
    white-space: normal !important;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #901235;
    line-height: normal;
    margin: 10px 0;

    @include breakpoint($tab) {
      font-size: 32px;
    }

  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #901235;
    line-height: normal;
    margin: 10px 0;

    @include breakpoint($tab) {
      font-size: 26px;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    color: #901235;
    line-height: normal;
    margin: 10px 0;


    @include breakpoint($tab) {
      font-size: 24px;
    }

  }

  span, p {
    line-height: 24px;
  }

  p {
    margin: 10px 0;
  }

  a {
    color: #5784AE;
  }

  ul {
    margin: 10px 30px;
    li {
      list-style: initial;
      margin-bottom: 10px;
    }
  }

  table {
    thead {
      tr {
        th {
          background: white;
          padding: 10px;
        }
      }
    }

    tbody {
      tr {
        background: none;

        td {
          padding: 10px;
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }

  }
}