#block-panels-mini-navigation {
  position: relative;
  z-index: 1;

  > .block__content {
    > .inner-content {
      text-align: center;

      > div > div > div > div {
        @include breakpoint($tab) {
          display: inline-block;
        }

        .block__title {
          display: none;
        }
      }
    }
  }

  #block-blockify-blockify-logo {
    @include breakpoint($tab) {
      float: left;
    }
  }

  .pane-system-user-menu,
  #block-custom-1,
  #block-locale-language {
    float: right;
  }
}