#block-system-main-menu {
  position: fixed;
  top: 0;
  z-index: 999;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;

  ul.menu {
    display: inline-block;

    li {
      display: inline-block;
      list-style: none;

      &.active a {
        font-weight: bold;
      }

      &.expanded {
        position: relative;

        &:hover ul {
          display: block;
        }

        a {

        }

        ul {
          display: none;
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 58px;
          left: 0;

          li {

            a {
              padding: 5px 15px;
            }

          }

        }

      }

      a {
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 15px;
      }

    }

  }

}
