#block-blockify-blockify-page-title {
  background: #901235;
  position: relative;
  text-align: center;

  > * {
    height: 260px;
    position: relative;

    @include breakpoint($tab) {
      height: 400px;
    }

    h1 {
      position: absolute;
      width: 100%;
      bottom: 26px;
      color: white;
      font-weight: bold;
      font-size: 30px;
      line-height: normal;

      @include breakpoint($tab) {
        font-size: 90px;
        line-height: 56px;
      }

    }
  }
}