#block-blockify-blockify-page-title {
  background: $secondary-color;
  position: relative;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  @include breakpoint($desk) {
    padding-left: 0;
    padding-right: 0;
  }

  > * {
    height: 260px;
    position: relative;

    @include breakpoint($tab) {
      height: 400px;
    }

    h1 {
      position: absolute;
      width: 100%;
      bottom: 26px;
      color: white;
      font-weight: bold;
      font-size: 30px;
      line-height: normal;

      @include breakpoint($tab) {
        font-size: 90px;
        line-height: 75px;
      }

      @include breakpoint($desk) {
        line-height: 56px;
      }

    }
  }
}