.block-copyright {
  top: 69px;
  float: left;
  display: block;
  width: auto;
  position: relative;
  margin: 0;
  padding: 35px 15px 0;
  background: url(../../../images/winery.png) no-repeat scroll 15px 0 transparent;
  .field-name-field-simple-body {
    p {
      font-size: 14px;
      font-weight: normal;
      color: @drupalBrown;
    }
  }
}