/*******************************************************************************
* Off canvas portion of styling for the Off Canvas layout.
******************************************************************************/
/* line 10, ../sass/_mobile-menu.scss */
.off-canvas-toggler {
  display: none; }

@media (min-width: 0) and (max-width: 70em) {
  /* line 17, ../sass/_mobile-menu.scss */
  #off-canvas {
    position: absolute;
    width: 100%;
    z-index: 999;
    right: 100%;
    top: 0;
    -moz-transition: right 0.2s;
    -o-transition: right 0.2s;
    -webkit-transition: right 0.2s;
    transition: right 0.2s;
    background: #ccc; }
    /* line 27, ../sass/_mobile-menu.scss */
    #off-canvas.open {
      right: 0; }
      /* line 30, ../sass/_mobile-menu.scss */
      #off-canvas.open .off-canvas-toggler {
        left: 0;
        width: 100%; }
        /* line 34, ../sass/_mobile-menu.scss */
        #off-canvas.open .off-canvas-toggler span {
          background: url('../img/close.png?1453079582') 97% 50% no-repeat; }
    /* line 40, ../sass/_mobile-menu.scss */
    #off-canvas .off-canvas-toggler {
      cursor: pointer;
      z-index: 1000;
      width: 110%;
      height: 33px;
      display: inline-block;
      position: absolute;
      left: 100%;
      top: 0; }
      /* line 51, ../sass/_mobile-menu.scss */
      #off-canvas .off-canvas-toggler span {
        background: url('../img/menu.png?1453079582') 89% 50% no-repeat;
        display: block;
        color: white;
        text-transform: uppercase;
        padding: 5px 11px;
        font-size: 14px;
        font-weight: bold; } }
/* line 65, ../sass/_mobile-menu.scss */
.relative {
  margin-left: -10px;
  position: relative; }

/* line 36, ../sass/off-layout.scss */
.l-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  padding: 0; }
  /* line 12, ../../../../../../../../../lib/gems/1.9.1/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .l-container:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-container:after {
    content: "";
    display: table;
    clear: both; }

/* line 42, ../sass/off-layout.scss */
.l-off-canvas {
  clear: both; }

/* line 46, ../sass/off-layout.scss */
.l-branding {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

/* line 50, ../sass/off-layout.scss */
.l-region--header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 70em) {
  /* line 61, ../sass/off-layout.scss */
  .has-sidebar-first .l-content > * > .content {
    width: 66.10169%;
    float: right;
    margin-right: 0; }
  /* line 65, ../sass/off-layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

  /* line 73, ../sass/off-layout.scss */
  .has-sidebar-second .l-content > .content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; }
  /* line 77, ../sass/off-layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    margin-left: 76.27119%; }

  /* line 86, ../sass/off-layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
  /* line 91, ../sass/off-layout.scss */
  .has-two-sidebars .l-content .content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    overflow: hidden;
    *zoom: 1; }
  /* line 96, ../sass/off-layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    margin-left: 0%; } }

/*# sourceMappingURL=off-layout.css.map */
